@import "tailwindcss";


.active{
    color: aliceblue;
    position: relative;
}
.active::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: aliceblue;
    height: 2px;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }  

  @media (max-width: 450px) {
    .product-grid {
      grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
  }
  

  @media (min-width: 451px) and (max-width: 639px) {
    .product-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
  }
  
  .loader{
    font-size: 28px;
    color: #FFF;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
  }
  .loader:after{
    content: 'Loading';
    position: relative;
    z-index: 5;
  }
  .loader:before{
    content: '';
    height: 6px;
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(#00bbff 100%, transparent 0) no-repeat;
    background-size: 0% auto;
    animation: 10s lineGrow linear infinite;
  }

  @keyframes lineGrow {to {  background-size: 100% auto}}
